<!--Modal for completing tasks-->
<button class="btn complete" data-bs-toggle="modal" data-bs-target="#complete"><span><i class="fa-solid fa-check"></i></span></button>
<div id="complete" class="modal fade" role="dialog">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h4 class="modal-title">Complete Task</h4>
             </div>
             <div class="modal-body">
                 <form action="{{ url_for('complete') }}" method="POST" class="form-complete-task">
                     {{ complete_task_form.hidden_tag() }}
                     {{ complete_task_form.label }}
                     {{ complete_task_form.task_id(value=task.id, type="hidden") }} 
                     <p class="task-popup">Would you like to mark this task as complete?</p>
                     <div class="btn-options">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                         {{ complete_task_form.submit(class="btn btn-info") }}
                     </div>
                 </form>
             </div>
         </div>
     </div>
 </div>