{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content%}
    <div class="container text-center">
        <h1>Tasks</h1>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#myModal">Add New Task <span style="font-weight: bold; font-size: 18px;">+</span></button>
    </div>
    <table class="table container">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task }}</td>
                    <td class="options">
                        <button class="btn" style="background-color: #0dcaf0;"><span><i class="fa-solid fa-pencil" style="color: white;"></i></span></button>
                        <button class="btn" style="background-color: #18b840;"><span><i class="fa-solid fa-check" style="color: white;"></i></span></button>
                        <button class="btn" style="background-color: #e01111;"><span><i class="fa-solid fa-trash-can" style="color: white;"></i></span></button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Task</h4>
            </div>
            <div class="modal-body">
              <form method="POST" class="form-add-task">
                  {{ add_task_form.hidden_tag() }}
                  {{ add_task_form.label }}
                  {{ add_task_form.description(class="form-control", placeholder="Task Description") }}
                <div class="btn-options">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    {{ add_task_form.submit(class="btn btn-info") }}
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
{% endblock %}