{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>Tasks</h1>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#task-modal">Add New Task <span style="font-weight: bold; font-size: 18px;">+</span></button>
        <!-- Modal for adding tasks-->
        <div id="task-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Task</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('add') }}" method="POST" class="form-add-task">
                            {{ add_task_form.hidden_tag() }}
                            {{ add_task_form.label }}
                            {{ add_task_form.description(class="form-control", placeholder="Task Description") }}
                            <div class="btn-options">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                {{ add_task_form.submit(class="btn btn-info") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table container">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    {% if not task.complete %}
                        <td>{{ task }}</td>
                        <td class="options">
                            <button type="button" class="btn edit" data-bs-toggle="modal" data-bs-target="#edit"><span><i class="fa-solid fa-pencil"></i></span></button>
                            <!--Modal for Editing Tasks-->
                            <div id="edit" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit Task</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ url_for('edit') }}" method="POST" class="form-edit-task">
                                                {{ edit_task_form.hidden_tag() }}
                                                {{ edit_task_form.label }}
                                                {{ edit_task_form.description(class="form-control", placeholder="Task Description") }}
                                                {{ edit_task_form.task_id(value=task.id, type="hidden")}} 
                                                <div class="btn-options">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    {{ edit_task_form.submit(class="btn btn-info") }}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <!--Modal for Completing Tasks-->
                           <button class="btn complete" data-bs-toggle="modal" data-bs-target="#complete"><span><i class="fa-solid fa-check"></i></span></button>
                           <div id="complete" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Complete Task</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ url_for('complete') }}" method="POST" class="form-complete-task">
                                                {{ complete_task_form.hidden_tag() }}
                                                {{ complete_task_form.label }}
                                                {{ complete_task_form.task_id(value=task.id, type="hidden")}} 
                                                <p class="task-popup">Would you like to mark this task as complete?</p>
                                                <div class="btn-options">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    {{ complete_task_form.submit(class="btn btn-info") }}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn delete" data-bs-toggle="modal" data-bs-target="#delete"><span><i class="fa-solid fa-trash-can"></i></span></button>
                        </td>
                    </tr>
                    {% else %}
                        <td style="text-decoration: line-through">{{ task }}</td>
                        <td class="options">
                            <button class="btn delete-2" data-bs-toggle="modal" data-bs-target="#delete"><span><i class="fa-solid fa-trash-can"></i></span></button>
                        </td>
                    {% endif %}
                    <!--Modal for Deleting Tasks-->
                    <div id="delete" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Task</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('delete') }}" method="POST" class="form-delete-task">
                                        {{ delete_task_form.hidden_tag() }}
                                        {{ delete_task_form.label }}
                                        {{ delete_task_form.task_id(value=task.id, type="hidden")}} 
                                        <p class="task-popup">Would you like delete this task?</p>
                                        <div class="btn-options">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            {{ delete_task_form.submit(class="btn btn-info") }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}