{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>Tasks</h1>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#task-modal">Add New Task <span style="font-weight: bold; font-size: 18px;">+</span></button>
        {% include 'modals/add.html' %}
    </div>
    <table class="table container">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    {% if not task.complete %}
                        <td>{{ task }}</td>
                        <td class="options">
                            <button type="button" class="btn edit" data-bs-toggle="modal" data-bs-target="#edit"><span><i class="fa-solid fa-pencil"></i></span></button>
                            {% include 'modals/edit.html' %}
                            <button class="btn complete" data-bs-toggle="modal" data-bs-target="#complete"><span><i class="fa-solid fa-check"></i></span></button>
                            {% include 'modals/complete.html' %}
                            <button class="btn delete" data-bs-toggle="modal" data-bs-target="#delete"><span><i class="fa-solid fa-trash-can"></i></span></button>
                        </td>
                    </tr>
                    {% else %}
                        <td style="text-decoration: line-through">{{ task }}</td>
                        <td class="options">
                            <button class="btn delete-2" data-bs-toggle="modal" data-bs-target="#delete"><span><i class="fa-solid fa-trash-can"></i></span></button>
                        </td>
                    {% endif %}
                    {% include 'modals/delete.html' %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}