.btn-info {
    color: white;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-info:hover {
    color: white;
    background-color: #0eb8da;
}

.btn-options {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 20px;
}

.btn-secondary {
    font-weight: bold;
    margin-right: 10px;
}

h1 {
    text-align: center;
    margin: 40px 0px 40px 0px;
}

.modal-header {
    justify-content: center;
}

.navbar-dark {
    background-color: #0dcaf0;
}

.navbar-brand {
    color: white; 
    font-weight: bold;
    font-size: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.options {
    width: 22%;
}

.table {
    width: 40%;
}