.btn-info {
    color: white;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-info:hover {
    color: white;
    background-color: #0fafcf;
}

.btn-options {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 20px;
}

.btn-secondary {
    font-weight: bold;
    margin-right: 10px;
}

.complete {
    color: white;
    background-color: #18b840;
}

.complete:hover {
    color: white;
    background-color: #149233;
}

.delete, .delete-2 {
    color: white;
    background-color: #e01111;
}

.delete:hover, .delete-2:hover {
    color: white;
    background-color: #be1010;
}

.delete-2 {
    margin-left: 91px;
}

.edit {
    color: white;
    background-color: #0dcaf0;
}

.edit:hover {
    color: white;
    background-color: #0fafcf;
}

.fa-solid .fa-pencil{
    color: white;
}

.fa-solid .fa-check {
    color: white;
}

.fa-solid .fa-trash-can {
    color: white;
}

h1 {
    text-align: center;
    margin: 40px 0px 40px 0px;
}

.modal-header {
    justify-content: center;
}

.navbar-dark {
    background-color: #0dcaf0;
}

.navbar-brand {
    color: white; 
    font-weight: bold;
    font-size: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.options {
    width: 22%;
    white-space: nowrap;
}

.table {
    width: 40%;
}

.task-popup {
    text-align: center;
    font-size: 20px;
}