<!-- Modal for adding tasks -->
<div id="task-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Task</h4>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('add') }}" method="POST" class="task-form">
                    {{ add_task_form.hidden_tag() }}
                    {{ add_task_form.label }}
                    {{ add_task_form.description(placeholder="Task Description") }}
                    <div class="btn-options">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        {{ add_task_form.submit(class="btn btn-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>